@use "../../../base/mixins" as *;

a.link-underline {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 3px;
  transition: text-decoration-color var(--time), color var(--time);
  &--color-blue {
    color: var(--basic-blue);
    @include hover {
      color: var(--color-blue-hover);
    }
  }
}

.site-email,
.site-phone {
  font-weight: 700;
  transition: color var(--time);
  @include hover {
    color: var(--basic-orange);
  }
}

.site-phone {
  &--size-lg {
    font-size: 20px;
    line-height: 130%;
  }
  &--size-xl {
    font-size: 24px;
    line-height: 120%;
  }
}

.site-email {
  &--size-md {
    font-size: 18px;
    line-height: 120%;
  }
  &--size-lg {
    font-size: 20px;
  }
  &--size-xl {
    font-size: 24px;
  }
}
