@use "../../../base/mixins" as *;

a.link-underline {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 3px;
  transition: text-decoration-color var(--time), color var(--time);
  &--color-blue {
    color: var(--basic-blue);
    @include hover {
      color: var(--color-blue-hover);
    }
  }
}

.site-email,
.site-phone {
  font-weight: 700;
  transition: color var(--time);
  @include hover {
    color: var(--basic-orange);
  }
}
