@use "sass:math";
@use "../../../base/mixins" as *;
@use "../scss/mixins/include-media" as *;

.form-quantity {
  border: 1px solid var(--gray-color-gray-stroke);
  border-radius: 7px;
  background: var(--gray-color-gray-background);
  width: 100%;
  height: 53px;
  display: flex;
  gap: 5px;
  transition: background-color vr(--time), border-color var(--time);
  @include media("<=md") {
    height: 49px;
  }
  // .form-quantity__input
  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  &.disabled {
    background-color: var(--gray-color-gray-background);
    pointer-events: none;
    & input {
      color: var(--gray-color-gray-text);
    }
    & button svg path {
      fill: var(--gray-color-gray-text);
    }
  }
}

.form-quantity-btn {
  width: 50px;
  height: 100%;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  & svg path {
    transition: fill var(--time);
  }
  @include hover(true) {
    & svg path {
      fill: var(--basic-orange);
    }
    &:active {
      & svg path {
        fill: var(--basic-orange);
      }
    }
  }
  // .form-quantity-btn__plus
  &__plus {
  }
  // .form-quantity-btn__minus
  &__minus {
  }
}
