@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../../../base/mixins" as *;

.recreation-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(23, 25, 27, 0.8) 28.12%, rgba(40, 40, 40, 0.8) 100%);
    opacity: 0.3;
    z-index: 2;
    pointer-events: none;
    transition: opacity calc(var(--time) * 2);
  }
  @include hover {
    & .recreation-card__image img {
      transform: scale(1.2);
    }
    &::before {
      opacity: 0.8;
    }
  }
  &.horizontal-long-card {
    grid-column: span 2;
    @include media("<=lg") {
      grid-column: span 4;
    }
    @include media("<=md") {
      grid-column: unset;
    }
  }
  &.vertical-long-card {
    grid-row: 1 / span 2;
    grid-column: 4 / -1;
    max-height: 546px;
    width: 100%;
    min-height: 530px;
    @include media("<=lg") {
      grid-row: 2 / span 2;
      grid-column: 3 / -1;
    }
    @include media("<=md") {
      grid-row: unset;
      grid-column: unset;
      max-height: 530px;
    }
  }
  @include media("<=md") {
    max-height: 154px;
    border-radius: 16px;
  }
  // .recreation-card__image
  &__image {
    width: 100%;
    height: 100%;
    & picture,
    & img {
      width: 100%;
      height: 100%;
    }
    & img {
      transition: transform calc(var(--time) * 3) ease-in-out;
    }
  }
  // .recreation-card__content
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
    padding: 25px;
    padding-bottom: 23px;
    color: var(--universal-white);
    @include media("<=lg") {
      padding: 20px 10px;
    }
  }
  // .recreation-card__title
  &__title {
    hyphens: auto;
  }
  // .recreation-card__count
  &__count {
  }
}
