@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

.breadcrumbs {
  margin: 22px 0 20px;
  // .breadcrumbs__navigation
  &__navigation {
  }
  // .breadcrumbs__list
  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    white-space: nowrap;
    @include no-scroll;
  }
  // .breadcrumbs__item
  &__item {
    font-size: 12px;
    line-height: 17px;
    & + & {
      display: flex;
      align-items: center;
      gap: 5px;
      &::before {
        content: "";
        display: block;
        width: 9px;
        height: 17px;
        flex-shrink: 0;
        @include mask-image(url("../images/icons/arrow-right.svg"), var(--gray-color-gray-text), 9px 9px);
        mask-position: center;
      }
    }
    &:last-child {
      color: var(--gray-color-gray-text);
      pointer-events: none;
    }
  }
  // .breadcrumbs__link
  &__link {
  }
}
.container {
}
.active {
}
