@use "../scss/mixins/include-media" as *;
@use "../base/mixins.scss" as *;

.header {
  min-height: var(--header-height);
  padding: 15px 0;
  body:not(.page--home):not(.theme-dark) & {
    border-bottom: 1px solid var(--gray-color-gray-stroke);
  }
  // .header__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include media("<=lg") {
      gap: 15px;
    }
  }
  // .header__left
  &__left {
    display: flex;
    align-items: center;
    gap: 50px;
    @include media("<=lg") {
      gap: 15px;
    }
  }
  // .header__logo
  &__logo {
  }
  // .header__right
  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    @include media("<=lg") {
      gap: 15px;
    }
  }
  // .header__btn-auth
  &__btn-auth {
    @include media("<=lg") {
      display: none;
    }
  }
  // .header__btn-append
  &__btn-append {
    @include media("<=md") {
      & span {
        display: none;
      }
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 0;
      min-height: auto;
      padding: 0;
      &::after {
        width: 24px;
        height: 24px;
      }
    }
  }
  // .header__favorite
  &__favorite {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    &.current {
      & .svg-bg,
      & .svg-border {
        fill: var(--basic-orange-active-second);
      }
    }
    @include hover(true) {
      cursor: pointer;
      & svg path {
        fill: var(--basic-orange-hover);
      }
    }
    & svg {
      width: 100%;
      height: 100%;
      & path {
        transition: fill var(--time) ease;
      }
      & .svg-bg {
        fill: transparent;
      }
      & .svg-border {
        fill: var(--universal-black);
      }
    }
    @include media("<=md") {
      width: 24px;
      height: 24px;
    }
  }
  // .header__select {
  &__select {
    position: relative;
    z-index: 10;
    @include media("<=lg") {
      display: none;
    }
  }
  //   .header__btn-select
  &__btn-select {
    gap: 5px;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      @include mask-image(url("../images/icons/arrow-right.svg"), currentColor, 11px 11px);
      transform: rotate(90deg);
      transition: transform var(--time) ease-out;
    }
    @include hover {
      &::after {
        background-color: currentColor;
        // transform: rotate(-90deg);
      }
    }
    &.active {
      background-color: var(--basic-orange);
      border-color: var(--basic-orange);
      color: var(--white);
      &::after {
        transform: rotate(-90deg);
      }
      @include hover {
        background-color: var(--basic-orange);
        border-color: var(--basic-orange);
        color: var(--white);
      }
    }
  }
  // .header__burger
  &__burger {
    border: 1px solid var(--gray-color-gray-stroke);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    place-items: center;
    flex-shrink: 0;
    display: none;
    position: relative;
    @include media("<=lg") {
      display: grid;
    }
    body.theme-dark & svg path {
      stroke: var(--white);
    }
  }
}

.menu {
  display: none;
}
