@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../base/mixins.scss" as *;

.header {
  // .header__menu
  &__menu {
  }
}
.menu {
  display: none;
  @include media("<=lg") {
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    transform: translateX(-120%);
    overflow-y: auto;
    @include no-scroll;
    transition: transform calc(var(--time) * 2) ease-in-out;
    .menu-open & {
      transform: translateX(0);
    }
  }
  // .menu__top
  &__top {
    height: var(--header-height);
    padding: 15px 18px;
    background-color: var(--white);
    position: sticky;
    top: 0;
  }
  // .menu__links
  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 12px;
    margin: 10px 0 20px;
  }
  //   .menu__close
  &__close {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  //   .menu__close-icon
  &__close-icon {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--basic-orange);
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      @include mask-image(url("../images/icons/close.svg"), var(--white), 20px 20px);
    }
  }
  // .menu__body
  &__body {
  }
}
