@use "../scss/mixins/include-media" as *;
@use "../base/mixins.scss" as *;

.menu-category {
  position: absolute;
  border-radius: 20px;
  padding: 20px 0px;
  width: 429px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background: var(--white);
  color: var(--black);
  left: 0;
  top: calc(100% + 10px);
  pointer-events: none;
  opacity: 0;
  transform: translateY(10%);
  transition: transform var(--time) ease-in-out, opacity var(--time) ease-in-out;
  &.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }
  // .menu-category__body
  &__body {
    display: grid;
    grid-template-columns: 1fr 0.77fr;
    gap: 20px;
    padding: 0 20px;
    max-height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
  }
  // .menu-category__group
  &__group {
  }
}
.menu-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // .menu-group__caption
  &__caption {
    padding: 0 10px;
  }
  // .menu-group__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  // .menu-group__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .menu-group__name
  &__name {
    padding: 0 10px;
  }
  // .menu-group__list
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  // .menu-group__list-item
  &__list-item {
  }
  // .menu-group__link
  &__link {
    display: block;
    padding: 7px 10px;
    border-radius: 20px;
    transition: background-color var(--time), color var(--time);
    @include hover {
      &:not(.active) {
        color: var(--basic-orange);
      }
    }
    &.active {
      background-color: var(--basic-orange);
      color: var(--white);
    }
  }
  //   .menu-group__sub-list-inner
  &__sub-list-inner {
    display: none;
  }
  // .menu-group__sub-list
  &__sub-list {
    @extend .menu-group__list;
  }
  // .menu-group__sub-list-item
  &__sub-list-item {
  }
  // .menu-group__sub-link
  &__sub-link {
    @extend .menu-group__link;
  }
}

.dynamic-items {
  transition: opacity 0.3s ease;
  &.fade-out {
    opacity: 0;
  }
  &.fade-in {
    opacity: 0;
  }
  &:not(.fade-out):not(.fade-in) {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-category__body {
  @supports (scrollbar-width: auto) {
    scrollbar-width: thin;
    scrollbar-color: var(--basic-orange) transparent;
  }
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
    &::-webkit-scrollbar-track {
      background: var(--gray-color-gray-stroke);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--basic-orange);
      border-radius: 0px;
      cursor: pointer;
    }
  }
  @supports ((scrollbar-width: auto) and (selector(::-webkit-scrollbar))) {
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
    &::-webkit-scrollbar-track {
      background: var(--gray-color-gray-stroke);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--basic-orange);
      border-radius: 0px;
    }
    scrollbar-width: unset;
    scrollbar-color: unset;
  }
}
