@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

// стили всплывающего окна
.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#08151a, 0.7);
  z-index: 20;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  padding: 30px 15px;
  pointer-events: none;
  transition: opacity var(--time), visibility var(--time);
  @include no-scroll;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &.active &__window {
    top: 0;
  }
  &.active &__close {
    @include media("<=md") {
      opacity: 1;
      transition: opacity var(--time) ease 0.25s;
    }
  }
  @include media("<=md") {
    padding: 0;
  }
  &__window {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    background-color: var(--white);
    position: relative;
    top: -60px;
    padding: 60px;
    transition: top var(--time), bottom var(--time);
    border-radius: 30px;
    overflow: hidden;
    .popup-request & {
      padding: 80px;
      @include media("<=lg") {
        padding: 80px 40px;
      }
      @include media("<=md") {
        padding: 20px 18px;
      }
    }
    @include media("<=md") {
      padding: 20px 18px;
      border-radius: 0;
    }
    // @media (max-width: $md) {
    //   padding: 50px 30px;
    // }
    // @media (max-width: $xs) {
    //   padding: 30px 20px;
    // }
  }

  &__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray-color-gray-stroke);
    position: absolute;
    top: 35px;
    right: 35px;
    background-color: var(--white);
    z-index: 10;
    display: grid;
    place-items: center;
    .popup-map & {
      top: 25px;
      right: 17px;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      @include mask-image(url("../images/icons/close.svg"), var(--black));
    }
    @include media("<=md") {
      opacity: 0;
    }
  }
}

.popup-map {
  & .map {
    width: 100%;
    height: 100%;
  }
  & .popup__window {
    padding: 0;
    height: 100%;
    // @media screen and (max-width: $xl) {
    //   width: 100%;
    //   border-radius: 10px 10px 0 0;
    //   top: 0;
    //   bottom: 0;
    //   transform: translateY(100%);
    //   transition: transform var(--time) * 2;
    // }
  }
  & .filter-button-mobile {
    display: none;
    position: absolute;
    top: 15px;
    left: 12px;
    width: 124px;
    min-height: 41px;
    z-index: 10;
    background-color: var(--white);
    color: var(--black);
    font-size: 14px;
    line-height: 130%;
    gap: 5px;
    border-radius: 30px;
    // @media screen and (max-width: $xl) {
    //   display: flex;
    // }
  }
}

.popup-room {
  & .popup__window {
    padding: 0;
  }
}

.popup-form {
  display: grid;
  grid-template-columns: 0.825fr 1fr;
  gap: 30px;
  color: var(--black);
  @include media("<=lg") {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @include media("<=md") {
    grid-template-columns: 100%;
  }
  // .popup-form__image
  &__image {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: math.div(660, 443) * 100%;
    @include media("<=md") {
      padding-bottom: math.div(390, 339) * 100%;
    }
  }
  // .popup-form__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media("<=md") {
      gap: 20px;
    }
  }
  // .popup-form__title
  &__title {
  }
  // .popup-form__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .popup-form__actions
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  & .form-text {
    a {
      color: var(--basic-orange);
      transition: color var(--time);
      @include hover {
        color: var(--basic-orange-hover);
        &:active {
          color: var(--basic-orange-active);
        }
      }
    }
  }
  & .form-textarea {
    min-height: 100px;
  }
}
