@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

// стили всплывающего окна
.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#08151a, 0.7);
  z-index: 9;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  padding: 30px 15px;
  pointer-events: none;
  transition: opacity var(--time), visibility var(--time);
  @include no-scroll;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &.popup-map.active &__window {
    @include media("<=lg") {
      transform: translateY(0);
    }
  }
  &.active &__window {
    top: 0;
  }
  &.active &__close {
    @include media("<=md") {
      opacity: 1;
      transition: opacity var(--time) ease 0.25s;
    }
  }
  @include media("<=md") {
    padding: 0;
  }
  // .popup__window
  &__window {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    background-color: var(--white);
    position: relative;
    top: -60px;
    padding: 60px;
    transition: top var(--time), bottom var(--time);
    border-radius: 30px;
    overflow: hidden;
    .popup-request & {
      padding: 80px;
      @include media("<=lg") {
        padding: 80px 40px;
      }
      @include media("<=md") {
        padding: 20px 18px;
      }
    }
    @include media("<=md") {
      padding: 20px 18px;
      border-radius: 0;
    }
  }
  // .popup__close
  &__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray-color-gray-stroke);
    position: absolute;
    top: 35px;
    right: 35px;
    background-color: var(--white);
    z-index: 10;
    display: grid;
    place-items: center;
    transition: background-color var(--time), border-color var(--time);
    .popup-map & {
      top: 27.5px;
      right: 18px;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      @include mask-image(url("../images/icons/close.svg"), var(--black));
      transition: background-color var(--time);
    }
    @include hover {
      background-color: var(--basic-orange);
      border-color: var(--basic-orange);
      &::before {
        background-color: var(--white);
      }
    }
    @include media("<=md") {
      opacity: 0;
    }
  }
}

.popup-map {
  @include media("<=lg") {
    padding: 0;
  }
  & .map {
    width: 100%;
    height: 100%;
  }
  & .popup__window {
    padding: 0;
    height: 100%;
    @include media("<=lg") {
      padding: 0;
      border-radius: 0;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      transition: transform calc(var(--time) * 2);
    }
  }
  & .btn-filter {
    display: none;
    position: absolute;
    top: 25px;
    left: 18px;
    width: 186px;
    z-index: 10;
    background-color: var(--gray-color-gray);
    color: var(--black);
    gap: 5px;
    border-radius: 30px;
    &:not(:last-child) {
      margin: 0;
    }
    @include media("<=lg") {
      display: flex;
    }
    // @media screen and (max-width: $xl) {
    //   display: flex;
    // }
  }
}

.popup-apartment {
  // .popup-apartment__body
  &__body {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
    @include media("<=lg") {
      grid-template-columns: 100%;
      gap: 20px;
    }
  }
  // .popup-apartment__slider
  &__slider {
    flex: 0 1 556px;
  }
  // .popup-apartment__main-contents
  &__main-contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media("<=lg") {
      gap: 20px;
    }
  }
  // .popup-apartment__main-content
  &__main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.content-bottom {
      padding-top: 29px;
      border-top: 1px solid var(--gray-color-gray-stroke);
      gap: 30px;
      grid-column: 1 / -1;
      @include media("<=lg") {
        padding-top: 19px;
        gap: 15px;
      }
    }
    & .content {
      & p {
        margin-bottom: 5px;
      }
    }
    & .features-list {
      width: 100%;
      column-count: 3;
      column-width: 250px;
      column-gap: 20px;
      display: block;
      @include media("<=md") {
        display: flex;
        columns: unset;
        gap: 10px;
        justify-content: flex-start;
      }
    }
    & .features-item {
      break-inside: avoid;
      margin-bottom: 20px;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--gray-color-gray-background);
      width: fit-content;
      @include media("<=md") {
        margin-bottom: 0;
      }
    }
  }
  // .popup-apartment__main-content-caption
  &__main-content-caption {
  }
}
.slider-apartment {
  display: flex;
  gap: 13px;
  max-width: 556px;
  max-height: 412px;
  @include media("<=lg") {
    max-width: 100%;
    max-height: none;
  }
  // .slider-apartment__thumbs
  &__thumbs {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    @include media("<=lg") {
      display: none;
    }
    & .slider-apartment__image {
      padding-bottom: math.div(96, 100) * 100%;
      border-radius: 10px;
      overflow: hidden;
      @include hover {
        cursor: pointer;
      }
    }
    & .swiper-slide {
      opacity: 0.8;
      transition: opacity var(--time);
      &-thumb-active {
        opacity: 1;
      }
    }
  }
  // .slider-apartment__image
  &__image {
    width: 100%;
    display: block;
  }
  // .slider-apartment__main
  &__main {
    width: 100%;
    & .slider-apartment__image {
      padding-bottom: math.div(412, 443) * 100%;
      border-radius: 16px;
      overflow: hidden;
    }
    & .slider-controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: calc(100% - 60px);
      display: flex;
      justify-content: space-between;
      z-index: 2;
      visibility: hidden;
      @include media("<=md") {
        display: none;
      }
    }
    & .slider-button {
      background-color: transparent;
      width: 30px;
      height: 30px;
      visibility: visible;
      border-radius: 0;
      &::before {
        mask-image: url("../images/icons/arrow-white-left.svg");
      }
      &.swiper-button-disabled {
        background-color: transparent;
        &::before {
          background-color: var(--white);
        }
      }
      @include hover {
        &:not(.swiper-button-disabled) {
          background-color: transparent;
        }
      }
    }
  }
}

.popup-form {
  display: grid;
  grid-template-columns: 0.825fr 1fr;
  gap: 30px;
  color: var(--black);
  @include media("<=lg") {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @include media("<=md") {
    grid-template-columns: 100%;
  }
  // .popup-form__image
  &__image {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: math.div(660, 443) * 100%;
    @include media("<=md") {
      padding-bottom: math.div(390, 339) * 100%;
    }
  }
  // .popup-form__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media("<=md") {
      gap: 20px;
    }
  }
  // .popup-form__title
  &__title {
  }
  // .popup-form__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .popup-form__actions
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  & .form-text {
    a {
      color: var(--basic-orange);
      transition: color var(--time);
      @include hover {
        color: var(--basic-orange-hover);
        &:active {
          color: var(--basic-orange-active);
        }
      }
    }
  }
  & .form-textarea {
    min-height: 100px;
  }
}
