@use "../../../base/mixins" as *;
@use "../../../mixins/include-media" as *;

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  bottom: 0;
}

.swiper-scrollbar {
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
  position: relative;
  inset: 0;
  @include media("<=lg") {
    margin-top: 20px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--gray-color-gray-stroke);
    top: 50%;
    transform: translateY(-50%);
  }
  &-drag {
    background-color: var(--basic-orange);
    @include hover {
      cursor: pointer;
    }
  }
}
