-
	menu = [
		{	
			"title": "Главная",
			"link": "/",
			"submenu": [
				{
					"title": "Пункт 1",
					"link": "/",
				},
				{
					"title": "Пункт 2",
					"link": "/",
				},
				{
					"title": "Пункт 3",
					"link": "/",
				},
			]
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Новости",
			"link": "news.html",
		},
		{	
			"title": "Контакты",
			"link": "contacts.html",
		},
	],
	pages = [
		{title: "Главная страница", link: "index.html"},
		{title: "Детальная страница города (Общая)", link: "town.html"},
		{title: "Детальная страница города (Жилье)", link: "town-hotels.html"},
		{title: "Детальная страница города (Отзывы)", link: "town-testimonials.html"},
		{title: "Детальная страница города (Фото)", link: "town-photo.html"},
		{title: "Детальная страница города (Карта)", link: "town-map.html"},
		{title: "Детальная страница города (Статьи)", link: "town-posts.html"},
		{title: "Детальная страница города (Питание)", link: "town-food.html"},
		{title: "Детальная страница города (Транспорт)", link: "town-transport.html"},
		{title: "Детальная страница города (Развлечения)", link: "town-games.html"},
		{title: "Детальная страница отеля", link: "main-card.html"},
		{title: "Детальная страница объекта", link: "main-card-2.html"},
		//- {title: "Заявка на бронирование", link: "booking.html"},
		{title: "Заявка на бронирование (редактирование)", link: "booking-edit.html"},
		{title: "Заявка на бронирование (результат)", link: "booking-result.html"},
		{title: "Форма отзыва (добавление нового отзыва)", link: "append-reviews.html"},
		{title: "Регистрация", link: "auth.html"},
		{title: "Вход", link: "auth-login.html"},
		{title: "Восстановление пароля", link: "auth-password.html"},
		{title: "Восстановление пароля (с кодом)", link: "auth-password-code.html"},
		{title: "Контакты", link: "contacts.html"},
		{title: "Тарифы и услуги", link: "services.html"},
		{title: "Добавление нового объекта", link: "append-object.html"},
		{title: "Избранное", link: "favorites.html"},
		{title: "Страница юзера (с отзывами и объявлениями)", link: "profile.html"},
		{title: "Страница юзера (без объявлений)", link: "profile-advert-empty.html"},
		{title: "Страница юзера (без отзывов)", link: "profile-reviews-empty.html"},
		{title: "Отзывы о сайте", link: "site-feedback.html"},
	],
	homeRecreations = [
		{
			caption: "Отдых в Краснодарском крае",
			text: "Огромное разнообразие вариантов для отдыха на любой вкус",
			list: [
				{
					img: 1,
					title: "Алушта",
					count: "352 отзыва",
					classes: "horizontal-long-card"
				},
				{
					img: 2,
					title: "Евпатория",
					count: "142 отзыва"
				},
				{
					img: 3,
					title: "Судак",
					count: "142 отзыва"
				},
				{
					img: 4,
					title: "Севастополь",
					count: "142 отзыва"
				},
				{
					img: 5,
					title: "Феодосия",
					count: "142 отзыва"
				},
				{
					img: 6,
					title: "Ялта",
					count: "258 отзывов",
					classes: "vertical-long-card"
				},
			]
		},
		{
			caption: "Отдых в Крыму",
			text: "Уникальные места для путешествий",
			list: [
				{
					img: 2,
					title: "Евпатория",
					count: "142 отзыва",
				},
				{
					img: 6,
					title: "Ялта",
					count: "258 отзывов",
					classes: "vertical-long-card"
				},
				{
					img: 3,
					title: "Судак",
					count: "142 отзыва"
				},
				{
					img: 4,
					title: "Севастополь",
					count: "142 отзыва"
				},
				{
					img: 5,
					title: "Феодосия",
					count: "142 отзыва"
				},
				{
					img: 1,
					title: "Алушта",
					count: "352 отзыва",
					classes: "horizontal-long-card"
				},
			]
		},
		{
			caption: "Отдых в Абхазии",
			text: "Чарующая природа и архитектура",
			list: [
				{
					img: 1,
					title: "Алушта",
					count: "352 отзыва",
					classes: "horizontal-long-card"
				},
				{
					img: 2,
					title: "Евпатория",
					count: "142 отзыва"
				},
				{
					img: 3,
					title: "Судак",
					count: "142 отзыва"
				},
				{
					img: 4,
					title: "Севастополь",
					count: "142 отзыва"
				},
				{
					img: 5,
					title: "Феодосия",
					count: "142 отзыва"
				},
				{
					img: 6,
					title: "Ялта",
					count: "258 отзывов",
					classes: "vertical-long-card"
				},
			]
		},
	],
	homeRecreationFeatures = [
		{
			img: 1,
			title: "Развлечения на любой вкус!",
			text: "Огромный выбор развлечений. Выбирайте, какие эмоции оставит это лето!"
		},
		{
			img: 2,
			title: "Актуальная информация",
			text: "Самые актуальные контактные данные и цены. Планируйте бюджет заранее"
		},
		{
			img: 3,
			title: "Самый большой путеводитель",
			text: "В нашей базе представлено свыше 10 000 объектов и с каждым днем их становится все больше!"
		},
	],
	objectCards = [
		{
			img: 1,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 2,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 3,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 4,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 5,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 6,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 7,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
		{
			img: 8,
			title: "Гостевой дом “Маяк”",
			descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
			price: "от 875 ₽",
		},
	],
	footerMenu = [
		{
			title: "О компании",
			link: "#"
		},
		{
			title: "Соглашение",
			link: "#"
		},
		{
			title: "Тарифы",
			link: "#"
		},
		{
			title: "Работа",
			link: "#"
		},
		{
			title: "FAQ",
			link: "#"
		},
		{
			title: "Статистика",
			link: "#"
		},
		{
			title: "Контакты",
			link: "#"
		},
		{
			title: "Карта сайта",
			link: "#"
		},
	],
	townNavigation = [
		{ title: "Алушта", link: "town.html"},
		{ title: "Жилье", link: "town-hotels.html"},
		{ title: "Отзывы (25)", link: "town-testimonials.html"},
		{ title: "Фото", link: "town-photo.html"},
		{ title: "Карта", link: "town-map.html"},
		{ title: "Погода", link: "town-weather.html"},
		{ title: "Статьи", link: "town-posts.html"},
		{ title: "Питание", link: "town-food.html"},
		{ title: "Транспорт", link: "town-transport.html"},
		{ title: "Развлечение", link: "town-games.html"},
	],
	profileNavigation = [
		{ title: "2024", link: "#"},
		{ title: "2023", link: "#"},
		{ title: "2022", link: "#"},
		{ title: "2021", link: "#"},
	],
	townAsideMenu = [
		{
			title: "Утес",
			link: "#"
		},
		{
			title: "Лазурное",
			link: "#"
		},
		{
			title: "Партенит",
			link: "#"
		},
		{
			title: "Сатера",
			link: "#"
		},
		{
			title: "Семидворье",
			link: "#"
		},
		{
			title: "Малый маяк",
			link: "#"
		},
	],
	badges = [
		{ title: "Отель", link: "#"},
		{ title: "Гостиница", link: "#"},
		{ title: "Пансионат", link: "#"},
		{ title: "Гостевой дом", link: "#"},
		{ title: "Мини-отель", link: "#"},
		{ title: "Вилла", link: "#"},
		{ title: "Апартаменты", link: "#"},
		{ title: "Хостел", link: "#"},
		{ title: "Туристический комплекс", link: "#"},
		{ title: "База отдыха", link: "#"},
		{ title: "Частный сектор", link: "#"},
		{ title: "Апарт отель", link: "#"},
	],
	gameCards = [
		{img: 1, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"},
		{img: 2, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"},
		{img: 3, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"},
		{img: 4, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"},
		{img: 5, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"},
		{img: 6, caption: "Алуштинский Мультипарк", text: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178"}
	],
	weather = {
		header: {
			degrees: "19",
			info: [
				"Вероятность осадков: 0%",
				"Влажность: 79%",
				"Ветер: 4 м/с",
			],
			today: ["Понедельник 15:00", "Облачно"]
		},
		week: [
			{
				caption: "ПН",
				range: ["19°", "14°"],
				image: 1
			},
			{
				caption: "ВТ",
				range: ["19°", "14°"],
				image: 2
			},
			{
				caption: "СР",
				range: ["19°", "14°"],
				image: 3
			},
			{
				caption: "ЧТ",
				range: ["19°", "14°"],
				image: 4
			},
			{
				caption: "ПТ",
				range: ["19°", "14°"],
				image: 5
			},
			{
				caption: "СБ",
				range: ["19°", "14°"],
				image: 6
			},
			{
				caption: "ВС",
				range: ["19°", "14°"],
				image: 7
			}
		]
	},
	photoCards = [
		{img: 1, caption: "Автовокзал Алушты HGalina, Shutterstock"},
		{img: 2, caption: "Алуштинский аквариум, Wikimedia"},
		{img: 3, caption: "Вид на «Морской конек» в Алуште Варнавская Виктория"},
		{img: 4, caption: "В урочище Демерджи, Wikimedia"},
		{img: 5, caption: "Дача купца Стахеева, Алушта, Wikimedia"},
		{img: 6, caption: "Дача купца Стахеева, балкон, Wikimedia"},
		{img: 1, caption: "Автовокзал Алушты HGalina, Shutterstock"},
		{img: 2, caption: "Алуштинский аквариум, Wikimedia"},
		{img: 3, caption: "Вид на «Морской конек» в Алуште Варнавская Виктория"},
		{img: 4, caption: "В урочище Демерджи, Wikimedia"},
		{img: 5, caption: "Дача купца Стахеева, Алушта, Wikimedia"},
		{img: 6, caption: "Дача купца Стахеева, балкон, Wikimedia"},
	],
	paginationPc = [
		"1", "...", "11", "12", "13", "14", "...", "26"
	],
	paginationMobile = [
		"1", "2", "3", "4", "5", "...", "10"
	],
	testimonials = {
		slider: [
			{ img: "img-small-1", author: "Марина", count: "5,0", date:"12 августа 2024", text: "Отличное место, новый дом, идеальное состояние квартиры, полное обеспечение бытовой техникой. В квартире всё предусмотрено для комфортного проживания - уютно, тихо, спокойно. Очень гостеприимный и приятный в общении хозяин. Настоятельно..."},
			{ img: "img-small-2", author: "Светлана", count: "4,9", date:"12 августа 2024", text: "Отличное место, новый дом, идеальное состояние квартиры, полное обеспечение бытовой техникой. В квартире всё предусмотрено для комфортного проживания - уютно, тихо, спокойно. Очень гостеприимный и приятный в общении хозяин. Настоятельно..."},
			{ img: "img-small-3", author: "Анна", count: "4,5", date:"12 августа 2024", text: "Отличное место, новый дом, идеальное состояние квартиры, полное обеспечение бытовой техникой. В квартире всё предусмотрено для комфортного проживания - уютно, тихо, спокойно. Очень гостеприимный и приятный в общении хозяин. Настоятельно..."},
			{ img: "img-small-1", author: "Марина", count: "5,0", date:"12 августа 2024", text: "Отличное место, новый дом, идеальное состояние квартиры, полное обеспечение бытовой техникой. В квартире всё предусмотрено для комфортного проживания - уютно, тихо, спокойно. Очень гостеприимный и приятный в общении хозяин. Настоятельно..."},
		],
		townBig: [
			{ image: "img-1", author: "Марина", count: "5,0", date: "12.08.22", text: "Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то..."}
		],
		profile: [
			{ img: "img-2", author: "Марина", count: "5,0", date:"12 августа 2024"},
			{ img: "img-5", author: "Марина", count: "5,0", date:"12 августа 2024"},
			{ img: "img-2", author: "Марина", count: "5,0", date:"12 августа 2024"},
		],
		feedback: [
			{img: "img-7", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
			{img: "img-small-4", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
			{img: "img-small-5", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
			{img: "img-small-6", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
			{img: "img-small-7", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
			{img: "img-small-8", author: "Марина", count: "5,0", date:"12 августа 2024", longText: true},
		],
	},
	categoryAsideMenu = [
		{ title: "Все (112)", link: "#"},
		{ title: "Новости (23)", link: "#"},
		{ title: "Города (15)", link: "#"},
		{ title: "Туризм (82)", link: "#"},
	],
	postCards = [
		{date: "21.06.24", title: "Набережная Новороссийска"},
	],
	checkboxes = {
		type: [
			{title: "Отели и мини отели"},
			{title: "Гостевые дома (как мини отели)"},
			{title: "Квартиры / Апартаменты"},
			{title: "Дома и коттеджи"},
			{title: "Базы отдыха и турбазы", checked: true},
			{title: "Хостелы"},
			{title: "Виллы (большой дом с территорией"},
			{title: "Комнаты в квартирах"},
		],
		infrastructure: [
			{title: "Парковка"},
			{title: "Бассейн"},
			{title: "Фитнес-центр"},
			{title: "SPA"},
			{title: "Детская игровая площадка"},
			//- {title: "Детская игровая площадка"},
		],
		food: [
			{title: "Ресторан"},
			{title: "Собственная кухня / мини кухня"},
		],
		common: [
			{title: "Интернет"},
			{title: "Номера для некурящих"}
		],
		categoriesGame: [
			{title: "Аквапарк"},
			{title: "Зоопарк"},
			{title: "Кинотеатры"},
			{title: "Театры", checked: true},
		],
		categoriesTransport: [
			{title: "Жд/вокзал"},
			{title: "Такси", checked: true},
		],
		categoriesFood: [
			{title: "Кафе"},
			{title: "Закусочная"},
			{title: "Фудкорт"},
			{title: "Ресторан", checked: true},
		],
		mapObjects: [
			{title: "Города", image: "city"},
			{title: "Отели", image: "hotels"},
			{title: "Транспорт", image: "transport"},
			{title: "Питание", image: "food"},
			{title: "Развлечения", image: "games"},
			{title: "Туризм", image: "tourism"},
			{title: "Услуги", image: "services"},
		],
		favoriteSections: [
			{title: "Питание", count: "12"},
			{title: "Места", count: "18"},
			{title: "Отели", count: "36", checked: true}
		],
		appendObject: [
			{title: "Размещение на сайте только ПЛАТНОЕ (бесплатно мы не размещаем)", name: "agreement", checked: true},
			{title: "Размещение на сайте только НА ГОД (помесячно и на сезон не размещаем)", name: "agreement_year", checked: true},
		]
	},
	selects = {
		region: [
			{value: "Крым"},
			{value: "Алушта"},
		],
		city: [
			{value: "Алушта"},
			{value: "Крым"},
		],
		section: [
			{value: "Питание"},
			{value: "Транспорт"},
			{value: "Развлечения"},
		],
		appendObject: [
			{value: "Крым"},
			{value: "Алушта"},
		],
		postsMobile: [
			{value: "Все (112)"},
			{value: "Новости (23)"},
			{value: "Города (15)"},
			{value: "Туризм (82)"},
		],
		favoritesMobile: [
			{value: "Питание (12)"},
			{value: "Места (18)"},
			{value: "Отели (36)"},
		],
		months: [
			{value: "Январь"},
			{value: "Февраль"},
			{value: "Март"},
			{value: "Апрель"},
			{value: "Май"},
			{value: "Июнь"},
			{value: "Июль"},
			{value: "Август"},
			{value: "Сентябрь"},
			{value: "Октябрь"},
			{value: "Ноябрь"},
			{value: "Декабрь"},
		],
		years: [
			{value: "2023"},
			{value: "2024"},
			{value: "2025"},
		],
		requestType: [
			{value: "Демо №1"},
			{value: "Демо №2"},
			{value: "Демо №3"},
			{value: "Демо №4"},
		] 
	},
	radioButtons = {
		location: [
			{title: 1},
			{title: 2},
			{title: 3},
			{title: 4},
			{title: 5, checked: true},
		],
		prices: [
			{title: 1},
			{title: 2, checked: true},
			{title: 3},
			{title: 4},
			{title: 5},
		],
		purity: [
			{title: 1},
			{title: 2},
			{title: 3},
			{title: 4},
			{title: 5, checked: true},
		],
		services: [
			{title: 1},
			{title: 2},
			{title: 3},
			{title: 4},
			{title: 5, checked: true},
		],
	},
	testimonialsRadios = [
		{caption: "Расположение", key: "location"},
		{caption: "Цена/качество", key: "prices"},
		{caption: "Чистота", key: "purity"},
		{caption: "Обслуживание", key: "services"},
	],
	hotelCards = [
		{title: 'Отель “Вилла-Вита”', address: "г.Алушта, ул Горького, 21", reviews: "124 отзыва", price: "от 4 110 ₽", priceOld: "от 6500 <span>₽</span>"}
	],
	features = {
		hotel: [
			{caption: "Кухня", key: "kitchen"},
			{caption: "Бесплатный Wi-Fi", key: "wifi"},
			{caption: "Завтрак", key: "breakfast"},
		]
	},
	options = {
		hotel: [
			"4 гостя", "1 кровать", "1 спальня", "42м²"
		]
	},
	comfortCards = {
		transport: [
			{ 
				title: "ТЕЛЕ-TAXI", 
				subTitle: "г. Симферополь, Крым", 
				text: "Удобное решение всех вопросов, связанных с пассажирскими перевозками. Мы обслуживаем как частных лиц, так и корпоративных клиентов. Вызвать такси в Республике Крым или заказать прокат авто с водителем вы можете в любое удобное для вас время: мы работаем круглосуточно...",
				details: [
					{caption: "Телефон", value: "+7(400) 852 34 95", key: "phone"},
					{caption: "Цены от", value: "200 ₽"},
				]
			}
		],
		food: [
			{
				title: "Фаст-фуд «Sub&Burger»",
				subTitle: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
				text: "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для....",
				details: [
					{caption: "Телефон", value: "+7(400) 852 34 95", key: "phone"},
					{caption: "Время работы", value: "до 22:00"},
				]
			}
		]
	},
	mapSectionObjectCard = {
		img: 9,
		title: "Гостевой дом “Маяк”",
		descr: "Голубицкая, ул.&nbsp;Красная, д.&nbsp;178",
		price: "от 875 ₽",
		subPrice: "за чел. в сутки"
	},
	servicesPage = {
		table: {
			head: ["Курорт", "Стандартное размещение для гостиниц и гостевых домов", "Стандартное размещение для квартир и объектов под ключ"],
			row: [
				{
					resort: "Адлер, Геленджик, Лазаревское",
					hotelPrice: 11900,
					roomPrice: 4900
				},
				{
					resort: "Анапа, Архипо-Осиповка, Витязево, Джемете, Сочи, Кабардинка",
					hotelPrice: 11900,
					roomPrice: 4900
				},
				{
					resort: "Дивноморское, Гагра, Лоо, Кудепста, Пицунда",
					hotelPrice: 11900,
					roomPrice: 4900
				},
				{
					resort: "Абрау-Дюрсо, Агой, Бетта, Благовещенская, Большой Утриш, Бухта Инал, Вардане, Веселовка, Вишневка, Волконка, Глафировка, Головинка, Голубицкая, Гудаута, Дагомыс, Дедеркой, Джанхот, Джубга, Должанская, Ейск, Ильич, Каткова Щель, Красная Поляна, Криница, Кучугуры, Лермонтово, Макопсе, Мысхако, Небуг, Новомихайловский, Новороссийск, Новый Афон, Ольгинка, Пересыпь, Пляхо, Приморско-Ахтарск, Пшада, Сенной, Совет-Квадже, Солоники, Сукко, Сухум, Тамань, Темрюк, Туапсе, Хоста, Цандрипш, Чемитоквадже, Шепси, Широкая Балка, Южная Озереевка, Якорная Щель",
					hotelPrice: 11900,
					roomPrice: 4900
				},
				{
					resort: "Алупка, Алушта, Балаклава, Береговое, Гаспра, Гурзуф, Евпатория, Керчь, Коктебель, Межводное, Мисхор, Николаевка, Новофедоровка, Новый Свет, Оленевка, Орджоникидзе, Отрадное, Партенит, Песчаное, Приморский, Саки, Севастополь, Симеиз, Судак, Феодосия, Форос, Черноморское, Штормовое, Щелкино, Ялта",
					hotelPrice: 11900,
					roomPrice: 4900
				},
			]
		}
	},
	mainCardPage = {
		features: [
			{caption: "Центр города", key: "building"},
			{caption: "Бесплатный WiFi", key: "wifi"},
			{caption: "Трансфер", key: "transfer"},
			{caption: "Кухня", key: "kitchen"},
			{caption: "Завтрак", key: "breakfast"},
		],
		mapPlaces: [
			{caption: "В окрестностях"},
			{caption: "Главные достопримечательности"},
			{caption: "Другое"},
		],
		progressBars: [
			{caption: "Расположение", value: "3,5"},
			{caption: "Цена/качество", value: "2,2"},
			{caption: "Чистота", value: "5,0"},
			{caption: "Обслуживание", value: "4,2"},
		],
		testimonials: [
			{img: "М", author: "Марина", count: "4,0", date:"12.08.22"},
			{img: "С", author: "Сергей", count: "3,0", date:"12.08.22", isNegative: true},
			{img: "С", author: "Сергей", count: "3,0", date:"12.08.22", isNegative: true},
			{img: "А", author: "Арина", count: "5,0", date:"12.08.22", isPositive: true},
		],
		accordions: [
			{caption: "Какие номера можно забронировать?"},
			{caption: "Можно ли приехать с собакой или кошкой?"},
			{caption: "Сколько стоит проживание в Гостевой дом «MolodezhnyyHouse»?"},
		]
	},
	cardOptions = [
		{caption: "1 кровать", key: "bed"},
		{caption: "80м²", key: "area"},
		{caption: "4 гостя", key: "guests"},
	],
	apartmentsCards = [
		{images: [1, 2, 3, 4], title: "Двухместный номер с 1 кроватью стандарт класс (широкая кровать+ кондиционер+ чайник)", price: "7 000 ₽", subPrice: "итого за 2 суток"},
		{images: [2, 3, 4, 1], title: "Двухместный номер с 1 кроватью стандарт класс (широкая кровать+ кондиционер+ чайник)", price: "8 500 ₽", subPrice: "итого за 2 суток"},
		{images: [3, 4, 2, 1], title: "Двухместный номер с 1 кроватью стандарт класс (широкая кровать+ кондиционер+ чайник)", price: "5 200 ₽", subPrice: "итого за 2 суток"},
		{images: [4, 1, 2, 3], title: "Двухместный номер с 1 кроватью стандарт класс (широкая кровать+ кондиционер+ чайник)", price: "3 500 ₽", subPrice: "итого за 2 суток"},
	],
	bookingPage = {
		groupsDate: [
			{caption: "Заезд", value: "21 июня 2024"},
			{caption: "Выезд", value: "24 июня 2024"},
		],
		groupsCount: [
			{caption: "Кол-во зрослых", value: "2"},
			{caption: "Кол-во детей", value: "0"},
		]
	},
	devPage = {
		advantages: [
			{title: "Быстро делаем свою работу", text: "Гарантируем создание качественного веб-ресурса всего за 7 дней! Подберем оптимальный шаблон, соответствующий вашим требованиям и пожеланиям, а также проведем все необходимые настройки и интеграции"},
			{title: "Помогаем в управлении сайтом", text: "После завершения работы над проектом мы предоставляем нашим клиентам подробную инструкцию по работе с системой управления контентом (CMS), а также проводим обучение персонала заказчика"},
			{title: "Принимаем заказы напрямую", text: "Мы принимаем заявки на создание сайтов напрямую от клиентов, без привлечения посредников. Это позволяет нам гарантировать высокое качество работы и индивидуальный подход к каждому проекту"},
			{title: "У нас выгодно!", text: "Мы предлагаем наиболее простой и доступный вариант привлечения клиентов и, как следствие, увеличение Вашей прибыли!"},
			{title: "Хостинг и домен входят в стоимость", text: "Вам не нужно беспокоиться о дополнительных расходах. Мы предоставляем качественный хостинг и помогаем выбрать подходящий домен для вашего проекта"},
		],
		steps: [
			{title: "Тех. задание", text: "Выбираете  шаблон и определяете функционал будущего сайта"},
			{title: "Оплата", text: "Вы оплачиваете 100% стоимость наших услуг"},
			{title: "Контент", text: "Предоставление информации для размещения на сайте"},
			{title: "Разработка ", text: "Создание сайта по оговоренному плану"},
			{title: "Сайт готов ", text: "Сдача клиенту готового проекта"},
			
		]
	}
