@use "../../../base/mixins" as *;
@use "../scss/mixins/include-media" as *;

.hidden-content {
  display: grid;
  grid-template-columns: 100%;
  justify-items: start;
  gap: 30px;
  margin-bottom: 9px;
  @include media("<=md") {
    margin: 0;
    gap: 20px;
  }
  &.is-active {
    & .hidden-content__gradient {
      opacity: 0;
      pointer-events: none;
    }
    & .btn {
      background-color: var(--basic-orange-active);
      color: var(--universal-white);
      &::after {
        transform: rotate(-90deg);
      }
    }
  }
  // .hidden-content__wrap
  &__wrap {
    max-height: 351px;
    overflow: hidden;
    position: relative;
    transition: max-height calc(var(--time) * 1.5) ease-in-out;
    @include media("<=md") {
      max-height: 770px;
    }
  }
  // .hidden-content__gradient
  &__gradient {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 66%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    transition: opacity var(--time);
    @include hover {
      cursor: pointer;
    }
  }
}
