extends layouts/default.pug

append variables
	- let pageTitle = "Восстановление пароля";
	- description += pageTitle;
	- let currentPage = "Восстановление пароля"

block content
	.auth.auth-password
		.page-header
			.container
				.page-title.title-h1!= currentPage
		.page-body
			.container
				.auth__body
					form(action="#", method="post").auth-form
						.auth-form__items 
							.form-text.default-text Сейчас вам придет смс-код из 4-х цифр
							.auth-form__code.code-auth
								.code-auth__caption.text-h5 Введите код
								.code-auth__numbers
									input(type="number", name="auth_number[]").form-input-number
									input(type="number", name="auth_number[]" disabled).form-input-number
									input(type="number", name="auth_number[]" disabled).form-input-number
									input(type="number", name="auth_number[]" disabled).form-input-number
								.code-auth__time.default-text--small.color-gray Запросить код еще раз через: #[span 58] сек
							.form-item 
								.form-item__field.field-password 
									input(type="password" name="auth_password" id="auth_password" placeholder="Введите новый пароль").form-input
									label(for="auth_password").form-label Введите новый пароль
									button(type="button").btn-password 
										span
							.form-item 
								.form-item__field.field-password 
									input(type="password" name="auth_password_confirm" id="auth_password_confirm" placeholder="Подтверждение пароля").form-input
									label(for="auth_password_confirm").form-label Подтверждение пароля
									button(type="button").btn-password 
										span
						.auth-form__actions 
							+btn("Отправить", "btn--primary", "submit")