extends layouts/default.pug

append variables
	- let pageTitle = "Восстановление пароля";
	- description += pageTitle;
	- let currentPage = "Восстановление пароля"

block content
	.auth.auth-password
		.page-header
			.container
				.page-title.title-h1!= currentPage
		.page-body
			.container
				.auth__body
					form(action="#", method="post").auth-form
						.auth-form__items 
							.form-text.default-text Введите email или телефон, который вводили при регистрации аккаунта, мы пришлем на него код для восстановления
							+formItem("text", "auth_email", "Email")
						.auth-form__actions 
							+btn("Отправить", "btn--primary", "submit")