extends layouts/default.pug

append variables
	- let pageTitle = "Избранное";
	- description += pageTitle;
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}];
	- let currentPage = "Избранное";
	- let isFavorites = true;

block content
	.page-header
		.container
			.page-title.title-h1= currentPage
	.page-body
		.container 
			+customSelect([...selects.favoritesMobile], "Выберите раздел", "favorites_section", "custom-select-mobile")
			.default-grid-wrapper
				.aside
					form(action="#").aside-nav.aside-nav-form
						.aside-nav__caption.default-text--m.default-text--bold Разделы
						each item, index in checkboxes.favoriteSections 
							+baseCheckbox(item, index, "section", null)
				.default-grid-wrapper__main 
					.hotel-cards
						- for (var i = 0; i < 10; i++)
							+hotelCard(hotelCards[0], `${i+1}`, true)
					include ./components/pagination