@use "sass:math";
@use "../functions/fluid" as *;
@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

.dev-page {
  // .dev-page-heading
  &-heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    @include media("<=md") {
      gap: 20px;
    }
  }
  & section {
    &:nth-child(even) {
      background-color: var(--universal-dg-dark-2);
    }
  }
}
.section-caption {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-color-gray-stroke-opacity-60);
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-image: url("../images/icons/section-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.dev-hero {
  padding-top: fluid-clamp(
    (
      xs: 56px,
      hd: 200px,
    )
  );
  padding-bottom: fluid-clamp(
    (
      xs: 80px,
      hd: 200px,
    )
  );
  // .dev-hero__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media("<=lg") {
      gap: 56px;
    }
  }
  //   .dev-hero__main
  &__main {
    display: flex;
    gap: 30px 117px;
    align-items: flex-start;
    @include media("<=lg") {
      flex-direction: column;
    }
  }
  // .dev-hero__title
  &__title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 140%;
    max-width: 682px;
    @include media("<=lg") {
      font-size: 38px;
      line-height: 120%;
      text-transform: initial;
    }
    & .accent-text {
      color: var(--basic-blue);
    }
    & .title-bg {
      display: inline-block;
      position: relative;
      padding: 0 10px;
      margin-right: 5px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: -5px;
        width: calc(100% + 10px);
        box-shadow: -10px 0 40px 0 rgba(113, 243, 250, 0.2);
        background: var(--basic-blue);
        z-index: -1;
        border-radius: 10px;
      }
      @include media("<=lg") {
        padding: 0 2px;
        &::before {
          height: 100%;
          left: -2px;
          width: calc(100% + 5px);
          border-radius: 5px;
        }
      }
    }
  }
  // .dev-hero__features
  &__features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 225px;
    justify-content: space-between;
    @include media("<=lg") {
      flex-direction: row;
      height: auto;
    }
  }
  // .dev-hero__feature
  &__feature {
    border-radius: 20px;
    padding: 15px 30px;
    height: 62px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 130%;
    color: var(--basic-orange);
    border: 1px solid currentColor;
    width: fit-content;
    @include media("<=md") {
      font-size: 13px;
      line-height: 120%;
      height: auto;
      padding: 9px 10px;
      border-radius: 20px;
    }
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      @include media("<=lg") {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
      }
    }
    &:nth-child(1) {
      &::after {
        background-image: url("../images/icons/features/orange-feature-1.svg");
      }
    }
    &:nth-child(2) {
      transform: rotate(5.19deg);
      &::after {
        background-image: url("../images/icons/features/orange-feature-2.svg");
      }
    }
    &:nth-child(3) {
      transform: rotate(-3.88deg);
      &::after {
        background-image: url("../images/icons/features/orange-feature-3.svg");
      }
    }
  }
  // .dev-hero__content
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include media("<=md") {
      flex-direction: column;
    }
  }
  // .dev-hero__text
  &__text {
    max-width: 360px;
    @include media("<=md") {
      max-width: 100%;
    }
  }
}
.dev-advantages {
  padding-top: fluid-clamp(
    (
      xs: 56px,
      hd: 100px,
    )
  );
  padding-bottom: fluid-clamp(
    (
      xs: 56px,
      hd: 150px,
    )
  );
  // .dev-advantages__body
  &__body {
    display: grid;
    grid-template-columns: 370px 1fr;
    gap: 50px 70px;
    @include media("<=md") {
      grid-template-columns: 100%;
    }
  }
  // .dev-advantages__info
  &__info {
    & .dev-page-heading {
      position: sticky;
      top: 20px;
      @include media("<=md") {
        position: static;
      }
    }
  }
  // .dev-advantages__text
  &__text {
  }
  // .dev-advantages__items
  &__items {
    display: grid;
    grid-template-columns: 100%;
  }
  // .dev-advantages__item
  &__item {
    padding: 39px 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #4f5154;
    &:last-child {
      border-bottom: 1px solid #4f5154;
      padding-bottom: 69px;
      @include media("<=md") {
        padding-bottom: 19px;
      }
    }
    @include media("<=md") {
      padding: 19px 0;
      gap: 5px;
    }
  }
  // .dev-advantages__item-number
  &__item-number {
    margin-bottom: 10px;
    color: var(--gray-color-gray-text);
  }
  // .dev-advantages__item-title
  &__item-title {
  }
  // .dev-advantages__item-text
  &__item-text {
  }
}
.dev-catalog {
  padding-top: fluid-clamp(
    (
      xs: 56px,
      hd: 100px,
    )
  );
  padding-bottom: fluid-clamp(
    (
      xs: 56px,
      hd: 230px,
    )
  );
  // .dev-catalog__body
  &__body {
    display: grid;
    grid-template-columns: 100%;
    gap: 160px;
    @include media("<=lg") {
      gap: 80px;
    }
    @include media("<=md") {
      gap: 56px;
    }
  }
  // .dev-catalog__card
  &__card {
  }
  & .dev-page-heading {
    margin-bottom: 80px;
    @include media("<=md") {
      margin-bottom: 40px;
    }
  }
}
.catalog-card {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 100px;
  justify-content: space-between;
  align-items: start;
  @include media("<=lg") {
    gap: 30px;
  }
  @include media("<=md") {
    grid-template-columns: 100%;
    gap: 15px;
  }
  // .catalog-card__info
  &__info {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    gap: 30px;
    @include media("<=lg") {
      gap: 20px;
    }
    @include media("<=md") {
      order: 1;
    }
  }
  // .catalog-card__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 19px;
    border-bottom: 1px solid #4f5154;
  }
  // .catalog-card__badge
  &__badge {
    border-radius: 5px;
    padding: 4px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    background: var(--basic-orange);
  }
  // .catalog-card__header-caption
  &__header-caption {
  }
  // .catalog-card__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .catalog-card__title
  &__title {
  }
  // .catalog-card__text
  &__text {
    color: #e0e0e0;
  }
  // .catalog-card__price
  &__price {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    & span {
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      color: var(--gray-color-gray-text);
      @include media("<=md") {
        align-self: start;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
  // .catalog-card__actions
  &__actions {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px 20px;
    margin-top: 15px;
    & .btn {
      min-width: 153px;
      @include media("<=md") {
        min-height: 45px;
        padding: 10px 25px;
      }
    }
    @include media("<=md") {
      margin-top: 12px;
      flex-wrap: wrap;
      & > * {
        flex-grow: 1;
      }
    }
  }
  // .catalog-card__image
  &__image {
    padding-bottom: math.div(512, 690) * 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
}
.dev-steps {
  padding-top: fluid-clamp(
    (
      xs: 56px,
      hd: 100px,
    )
  );
  padding-bottom: fluid-clamp(
    (
      xs: 56px,
      hd: 200px,
    )
  );
  // .dev-steps__body
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
    @include media("<=md") {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 17px;
      left: -24px;
      background-image: url("../images/dev/steps-line.svg");
      background-repeat: no-repeat;
      width: 1154px;
      height: 430px;
      z-index: 1;
      pointer-events: none;
      @include media("<=lg") {
        content: none;
      }
    }
  }
  & .dev-page-heading {
    margin-bottom: 30px;
  }
}

.dev-step {
  &:nth-child(1) {
    padding-top: 80px;
    order: -1;
    @include media("<=lg") {
      padding: 0;
    }
  }
  &:nth-child(2),
  &:nth-child(5) {
    padding-top: 50px;
    @include media("<=lg") {
      padding: 0;
    }
  }
  &:nth-child(2) {
    order: 2;
  }
  &:nth-child(3) {
    order: 3;
  }
  &:nth-child(5) {
    order: 4;
    grid-column: 2 / 3;
    @include media("<=lg") {
      grid-column: unset;
      order: 5;
    }
  }
  &:nth-child(4) {
    order: 5;
    @include media("<=lg") {
      order: 4;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  counter-increment: num;
  @include media("<=lg") {
    padding: 0;
  }
  @include media("<=md") {
    flex-direction: row;
    gap: 15px;
  }
  // .dev-step__icon
  &__icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: var(--universal-dg-dark-2);
    position: relative;
    z-index: 2;
    @include media("<=md") {
      width: 30px;
      height: 30px;
    }
  }
  // .dev-step__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    position: relative;
    isolation: isolate;
    &::before {
      content: counter(num);
      display: block;
      position: absolute;
      font-weight: 800;
      font-size: 130px;
      color: #343840;
      left: -4px;
      top: -35px;
      z-index: -1;
      @include media("<=md") {
        font-size: 80px;
        top: -15px;
        right: 0;
        left: auto;
      }
    }
    @include media("<=md") {
      padding: 0;
    }
    @include media("<=sm") {
      width: 100%;
    }
  }
  // .dev-step__title
  &__title {
  }
  // .dev-step__text
  &__text {
    max-width: 230px;
    @include media("<=md") {
      max-width: 100%;
    }
  }
}
.dev-ready {
  overflow: hidden;
  padding: 100px 0;
  @include media("<=md") {
    padding: 56px 0;
  }
  // .dev-ready__body
  &__body {
    position: relative;
    margin-left: 175px;
    @include media("<=lg") {
      margin-left: 0;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -100px;
      right: -48px;
      width: 389px;
      height: 360px;
      background-image: url("../images/dev/handle.png");
      background-repeat: no-repeat;
      background-position: center;
      @include media("<=lg") {
        content: none;
      }
    }
  }
  // .dev-ready__info
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    & .btn-request {
      align-self: flex-start;
    }
    @include media("<=md") {
      gap: 30px;
    }
  }
  // .dev-ready__title
  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    color: var(--universal-white);
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    @include media("<=md") {
      font-size: 32px;
      line-height: 130%;
    }
    & span {
      &:nth-child(1) {
        display: inline-flex;
        align-items: center;
        gap: 10px 20px;
        margin-left: 100px;
        @include media("<=md") {
          margin: 0;
          flex-direction: column;
          align-items: flex-start;
        }
        &::before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          flex-shrink: 0;
          background-image: url("../images/icons/orange-stars.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @include media("<=md") {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}

.btn-request {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-color-gray);
  padding-bottom: 7px;
  border-bottom: 1px solid currentColor;
  align-self: flex-end;
  @include media("<=md") {
    align-self: flex-start;
  }
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    @include mask-image(url("../images/icons/arrow-white-right.svg"), currentColor, 20px 20px);
  }
}
