@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

.main-card {
  & .default-grid-wrapper {
    grid-template-columns: 1fr 270px;
  }
  // .main-card__header
  &__header {
    margin-bottom: 42px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title actions" "subTitle actions";
    align-items: center;
    gap: 10px 20px;
    @include media("<=lg") {
      grid-template-columns: 100%;
      grid-template-areas: "title" "subTitle" "actions";
      margin-bottom: 30px;
    }
  }
  // .main-card__title
  &__title {
    grid-area: title;
  }
  // .main-card__header-rating
  &__header-rating {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    &::after {
      content: "";
      display: block;
      background-image: url("../images/icons/star-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
    }
  }
  // .main-card__sub-title
  &__sub-title {
    grid-area: subTitle;
  }

  // .main-card__actions
  &__actions {
    grid-area: actions;
    grid-row: 1 / -1;
    align-self: center;
    @include media("<=lg") {
      grid-row: unset;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      gap: 10px 20px;
    }
    & .btn-map {
      all: unset;
    }
    & .rating {
      & .rating-value {
        flex-direction: column-reverse;
        align-items: flex-start;
        &__result {
          margin: 0;
        }
      }
    }
  }
  //   .main-card__actions-buttons
  &__actions-buttons {
    display: flex;
    align-items: center;
    gap: 27px;
    padding-right: 9px;
    @include media("<=lg") {
      padding: 0;
      gap: 30px;
      & button span {
        display: none;
      }
    }
  }
  // .main-card__favorite-btn
  &__favorite-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--time);
    @include hover {
      color: var(--basic-orange);
      & .svg-border {
        fill: #ff6933;
      }
    }
    & svg {
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      & path {
        transition: fill var(--time), stroke var(--time);
      }
    }
    & .svg-bg {
      fill: transparent;
    }
    & .svg-border {
      stroke: transparent;
    }
    &.active {
      color: var(--basic-orange);
      & .svg-bg {
        fill: #ff6933;
      }
      & .svg-border {
        stroke: #ff6933;
      }
    }
  }
  // .main-card__share-btn
  &__share-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--time);
    & svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      & path {
        transition: stroke var(--time);
      }
    }
    @include hover {
      color: var(--basic-orange);
      & svg path {
        stroke: var(--basic-orange);
      }
    }
  }
  // .main-card__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 374px;
    align-items: start;
    gap: 30px;
    @include media("<=lg") {
      grid-template-columns: 100%;
    }
  }
  // .main-card__body
  &__body {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    @include media("<=lg") {
      gap: 30px;
    }
  }
  // .main-card__content-sections
  &__content-sections {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    @include media("<=lg") {
      gap: 20px;
    }
  }
  // .main-card__content-section
  &__content-section {
    border: 1px solid var(--gray-color-gray-stroke);
    border-radius: 20px;
    padding: 39px;
    overflow: hidden;
    @include media("<=lg") {
      padding: 0 0px 19px 0;
      border: none;
      border-bottom: 1px solid var(--gray-color-gray-stroke);
      border-radius: 0;
      &:first-child {
        border-top: 1px solid var(--gray-color-gray-stroke);
        padding-top: 19px;
      }
      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }
  }
  // .main-card__content-info
  &__content-info {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    @include media("<=lg") {
      gap: 16px;
    }
  }
  // .main-card__content-info-caption
  &__content-info-caption {
    display: flex;
    align-items: center;
    gap: 20px;
    & span {
      &:last-child {
        display: flex;
        align-items: center;
        gap: 20px;
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          @include mask-image(url("../images/icons/arrow-right.svg"), var(--universal-black), 14px 14px);
        }
      }
    }
  }
  // .main-card__content-info-payment
  &__content-info-payment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0px;
    @include media("<=lg") {
      margin: 8px 0 0;
    }
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/payment.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .main-card__map
  &__map {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    & .map {
      border-radius: 10px;
      overflow: hidden;
      height: 427px;
      width: 100%;
      @include media("<=md") {
        height: 300px;
      }
    }
  }
  //   .main-card__map-places
  &__map-places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    @include media("<=md") {
      grid-template-columns: 100%;
      gap: 20px;
    }
  }
  // .main-card__map-place
  &__map-place {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .main-card__map-place-caption
  &__map-place-caption {
  }
  // .main-card__map-place-list
  &__map-place-list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  // .main-card__map-place-item
  &__map-place-item {
    display: flex;
    align-items: center;
    gap: 30px;
    & span {
      flex-shrink: 0;
    }
    @include media("<=md") {
      justify-content: space-between;
      gap: 15px;
    }
  }
  // .main-card__apartments
  &__apartments {
    margin-top: 20px;
    @include media("<=lg") {
      margin-top: 40px;
    }
  }
}

.svg-bg {
}
.svg-border {
}

.profile-info-card {
  & .date {
    .main-card & {
      color: var(--universal-black);
    }
  }

  .main-card & {
    order: 1;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "image descr" "contacts contacts";
    gap: 30px 20px;
    justify-items: start;
    align-items: center;
    border-radius: 20px;
    padding: 29px;
    position: sticky;
    top: 20px;
    @include media("<=lg") {
      position: static;
      order: unset;
      border: none;
      border-radius: 0;
      padding: 0 0 19px;
      border-bottom: 1px solid var(--gray-color-gray-stroke);
    }
  }
  // .profile-info-card__image
  &__image {
    .main-card & {
      width: 60px;
      height: 60px;
    }
  }
  // .profile-info-card__description
  &__description {
    .main-card & {
      align-items: flex-start;
      gap: 5px;
      margin: 0;
    }
  }
  // .profile-info-card__name
  &__name {
    .main-card & {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  // .profile-info-card__status
  &__status {
    .main-card & {
      background-color: transparent;
      padding: 0;
      width: 15px;
      height: 15px;
      display: block;
      &::before {
        width: 15px;
        height: 15px;
      }
    }
  }
  // .profile-info-card__contacts
  &__contacts {
    grid-area: contacts;
    width: 100%;
    display: grid;
    text-align: left;
    justify-items: start;
    gap: 10px;
  }
  // .profile-info-card__contacts-item
  &__contacts-item {
    padding: 15px;
    background-color: var(--gray-color-gray-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
  }
  // .profile-info-card__contacts-item-caption
  &__contacts-item-caption {
  }
  // .profile-info-card__link
  &__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .profile-info-card__link--site
  &__link--site {
    &::before {
      background-image: url("../images/icons/link-site-icon.svg");
    }
  }
  // .profile-info-card__link--email
  &__link--email {
    &::before {
      background-image: url("../images/icons/link-email-icon.svg");
    }
  }
  &__text {
    margin-top: 50px;
    @include media("<=lg") {
      margin-top: 20px;
    }
  }
}

.social-links {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
.social-link--whatsapp {
  &::before {
    @include mask-image(url("../images/icons/whatsapp.svg"), currentColor);
  }
}
.social-link--viber {
  &::before {
    @include mask-image(url("../images/icons/viber.svg"), currentColor);
  }
}
.main-card-gallery {
  @include media("<=lg") {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  // .main-card-gallery__slider
  &__slider {
    width: 100%;
    display: none;
    border-radius: 16px;
    overflow: hidden;
    @include media("<=lg") {
      display: block;
    }
  }
  // .main-card-gallery__body
  &__body {
    display: grid;
    grid-template-columns: 1fr 181px;
    gap: 15px;
    @include media("<=lg") {
      display: none;
    }
  }
  // .main-card-gallery__item
  &__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 181 / 150;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  & .btn-map {
    align-self: end;
    justify-self: start;
    position: absolute;
    bottom: 15px;
    left: 15px;
    & .rating-value {
      flex-direction: column-reverse;
      align-items: flex-start;
      &__result {
        margin: 0;
      }
    }
    @include media("<=lg") {
      position: static;
      bottom: 0;
      left: 0;
    }
  }
  // .main-card-gallery__item--lg
  &__item--lg {
    grid-row: 1 / span 3;
    border-radius: 20px;
    & .btn-map {
      bottom: auto;
      left: 30px;
      top: 30px;
    }
  }
  & .swiper-pagination {
    display: none;
    @include media("<=lg") {
      display: block;
    }
  }
  &__image {
    border-radius: 16px;
    overflow: hidden;
  }
}

.accordion-mobile {
  display: none;
  @include media("<=lg") {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--gray-color-gray-stroke);
  }
}

.accordion {
  .accordion-mobile & {
    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-color-gray-stroke);
      padding-bottom: 15px;
    }
  }
  // @include media("<=lg") {
  //   .section-faq &:last-child {
  //     & .accordion__button {
  //       padding: 0;
  //       &::before {
  //         content: none;
  //       }
  //     }
  //   }
  // }
  // .accordion__button
  &__button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: left;
    width: 100%;
    transition: color var(--time);
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      @include mask-image(url("../images/icons/arrow-right.svg"), currentColor, 14px 14px);
      transition: transform var(--time);
    }
    &._active {
      &::after {
        transform: rotate(-90deg);
      }
      & .accordion__button-icon {
        &::before,
        &::after {
          background-color: var(--basic-orange);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-180deg);
          opacity: 0;
        }
      }
    }
    .section-faq & {
      padding-bottom: 20px;
      position: relative;
      &::after {
        content: none;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--gray-color-gray-stroke);
        transition: opacity var(--time);
      }
      &._active {
        color: var(--basic-orange);
        &::before {
          opacity: 0;
        }
      }
    }
    .accordion-mobile & {
      &::after {
        content: none;
      }
      &._active {
        color: var(--basic-orange);
      }
    }
  }
  // .accordion__button-icon
  &__button-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      border-radius: 10px;
      background-color: var(--universal-black);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform var(--time), opacity var(--time), background-color var(--time);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
  // .accordion__content
  &__content {
    padding-top: 20px;
    .section-faq & {
      padding: 15px 15px;
      background-color: var(--gray-color-gray-background);
    }
    .accordion-mobile & {
      padding: 10px 0 0;
    }
  }
}

.section-faq {
  & .accordions {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--gray-color-gray-stroke);
  }
}

.table-price-wrap {
  @include media("<=lg") {
    display: none;
  }
}

.table-price {
  padding-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  @include media("<=lg") {
    overflow: auto;
    padding: 0;
    width: 100%;
    & tr {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      min-height: 34px;
      padding-top: 10px;
      &:not(:first-child) {
        border-top: 1px solid var(--gray-color-stroke-secondary);
      }
    }
    & th,
    & td {
      font-size: 14px;
      line-height: 130%;
    }
  }
}

.table-price {
  @supports (scrollbar-width: auto) {
    scrollbar-width: thin;
    scrollbar-color: var(--basic-orange) transparent;
  }
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
    &::-webkit-scrollbar-track {
      background: var(--gray-color-gray-stroke);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--basic-orange);
      border-radius: 0px;
      cursor: pointer;
    }
  }
  @supports ((scrollbar-width: auto) and (selector(::-webkit-scrollbar))) {
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
    &::-webkit-scrollbar-track {
      background: var(--gray-color-gray-stroke);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--basic-orange);
      border-radius: 0px;
    }
    scrollbar-width: unset;
    scrollbar-color: unset;
  }
  & table {
    width: 690px;
    border-collapse: collapse;
    & tr {
      display: flex;
      gap: 2px;
    }
    & td,
    & th {
      display: flex;
      align-items: center;
      padding: 4px 12px;
      min-height: 40px;
      font-size: 13px;
      line-height: 120%;
      flex: 0 0 70px;
      justify-content: center;
      text-align: center;
      &:first-child {
        flex: 0 0 250px;
        justify-content: flex-start;
      }
      &:nth-child(2) {
        flex: 0 0 120px;
      }
    }
    & th {
      background-color: var(--basic-orange);
      font-weight: 600;
      color: var(--universal-white);
    }
    & tbody {
      & td {
        background-color: var(--gray-color-gray-background);
      }
    }
  }
}
.table-price {
  // .table-price__head
  &__head {
  }
  // .table-price__tbody
  &__tbody {
  }
  & th & tr {
  }
}

.apartments {
  // .apartments__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .apartments__body
  &__body {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px 18px;
    @include media("<=vl") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("<=md") {
      grid-template-columns: 100%;
    }
  }
}

.main-card-reviews {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  @include media("<=md") {
    gap: 20px;
  }
  // .main-card-reviews__header
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    & .rating-value {
      flex-direction: column-reverse;
      align-items: flex-end;
      &__result {
        margin: 0;
      }
      @include media("<=md") {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
    @include media("<=md") {
      flex-direction: column;
    }
  }
  // .main-card-reviews__title
  &__title {
  }
  // .main-card-reviews__feedback
  &__feedback {
  }
  // .main-card-reviews__progressbar
  &__progressbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    @include media("<=md") {
      gap: 16px;
      grid-template-columns: 100%;
    }
  }
  //   .main-card-reviews__progressbar-title
  &__progressbar-title {
    margin-bottom: 10px;
    grid-column: 1 / -1;
    @include media("<=md") {
      grid-column: unset;
      margin-bottom: 4px;
    }
  }
  // .main-card-reviews__cards
  &__cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    @include media("<=md") {
      margin-top: 20px;
      gap: 20px;
    }
  }
  // .main-card-reviews--empty
  &--empty {
    @include media("<=lg") {
      padding-bottom: 19px;
      border-bottom: 1px solid var(--gray-color-gray-stroke);
    }
  }
}
.reviews-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 10px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--gray-color-gray-stroke);
  @include media("<=md") {
    flex-direction: column;
    align-items: stretch;
    padding-top: 10px;
  }
  // .reviews-feedback__info
  &__info {
    padding-left: 50px;
    background-image: url("../images/icons/messages.svg");
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .reviews-feedback__title
  &__title {
  }
  // .reviews-feedback__sub-title
  &__sub-title {
    max-width: 427px;
  }
  & .btn {
  }
}
.progressbar {
  // .progressbar__item
  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1px 22px;
  }
  // .progressbar__item-caption
  &__item-caption {
    grid-column: 1 / -1;
  }
  // .progressbar__item-value
  &__item-value {
  }
}
.progress {
  flex: 1 11 auto;
  height: 7px;
  border-radius: 10px;
  background-color: var(--gray-color-stroke-secondary);
  position: relative;
}
.progress-fill {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--color-map-orange-map);
  border-radius: inherit;
}
