@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

.profile {
  // .profile__sections
  &__sections {
    display: grid;
    grid-template-columns: 100%;
    gap: 80px;
    @include media("<=md") {
      gap: 50px;
    }
  }
  // .profile__section
  &__section {
  }
  & .default-grid-wrapper {
    padding-bottom: 40px;
    @include media("<=lg") {
      padding-bottom: 0;
    }
  }
  & .default-grid-cards {
    @include media("<=md") {
      gap: 15px;
    }
  }
}
.profile-info-card {
  border: 1px solid var(--gray-color-stroke-secondary);
  border-radius: 30px;
  padding: 40px 30px;
  gap: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  grid-template-areas: "image" "descr" "status";
  @include media("<=lg") {
    grid-template-columns: 70px 1fr;
    grid-template-areas: "image descr" "status status";
    align-items: center;
    justify-items: start;
    gap: 20px 15px;
    padding: 20px;
    border-radius: 20px;
  }
  // .profile-info-card__image
  &__image {
    width: 100px;
    height: 100px;
    grid-area: image;
    @include media("<=lg") {
      width: 70px;
      height: 70px;
    }
  }
  // .profile-info-card__description
  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-area: descr;
    &:not(:last-child) {
      margin-bottom: 5px;
      @include media("<=lg") {
        margin: 0;
      }
    }
    @include media("<=lg") {
      gap: 5px;
      align-items: flex-start;
    }
  }
  // .profile-info-card__name
  &__name {
  }
  // .profile-info-card__status
  &__status {
    grid-area: status;
    background-color: var(--color-light-blue);
    padding: 7px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 7px;
    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      background-image: url("../images/icons/verification.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .profile-info-card__date
  &__date {
    line-height: 140%;
  }
}
.section-profle {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include media("<=lg") {
    gap: 20px;
  }
  // .section-profle__heading
  &__heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  // .section-profle__title
  &__title {
  }
  // .section-profle__sub-title
  &__sub-title {
  }
}

.site-feedback {
  // .site-feedback__main
  &__main {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include media("<=lg") {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-top: 30px;
    }
    @include media("<=md") {
      grid-template-columns: 100%;
      gap: 15px;
    }
  }
  & .menu-navigation {
    justify-content: flex-start;
    gap: 12px;
    &__link {
      font-size: 16px;
      line-height: 130%;
    }
  }

  & .testimonials-card {
    &__text {
      line-height: 130%;
    }
    & .rating-value__author {
      font-size: 20px;
    }
  }
}
