@use "../scss/mixins/include-media" as *;
@use "../base/mixins" as *;

.map-section {
  // .map-section__body
  &__body {
    height: 796px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    @include media("<=lg") {
      height: 560px;
      padding: 14px;
      justify-content: flex-end;
      align-items: center;
    }
  }
  // .map-section__map
  &__map {
    background-color: var(--gray-color-gray);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // .map-section__object-box
  &__object-box {
    padding: 20px;
    position: relative;
    z-index: 2;
    width: 310px;
    box-shadow: 0 4px 40px 0 rgba(42, 49, 83, 0.25);
    background: var(--universal-white);
    border-radius: 24px;
    margin: 11px 0 0 23px;
    @include media("<=lg") {
      margin: 0;
      padding: 14px;
      width: 310px;
      border-radius: 20px;
      position: relative;
      // z-index: 1001;
    }
    @include media("<=sm") {
      width: 100%;
    }
    & .object-card {
      @include media("<=md") {
        gap: 20px;
      }
      &__price {
        padding: 4px 0;
      }
      & .favorite-button {
        display: none;
      }
      &__image {
        @include media("<=md") {
          padding: 0;
          height: 170px;
          border-radius: 10px;
        }
      }
    }
    & .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
    }
  }
  & .filter {
    position: relative;
    z-index: 2;
    border: 1px solid var(--gray-color-gray-stroke);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 40px 0 rgba(42, 49, 83, 0.25);
    background-color: var(--universal-white);
    margin-top: auto;
    &__actions {
      display: none;
      @include media("<=lg") {
        display: flex;
      }
    }
    @include media("<=lg") {
      position: fixed;
      border-radius: 0;
      background-color: var(--color-black-rgb-80);
      box-shadow: none;
      border: unset;
      padding: 0;
      margin: 0;
    }
    & .form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
      gap: 10px;
      @include media("<=lg") {
        display: flex;
        flex-direction: column;
      }
    }
  }
  & .base-checkbox {
    width: 100%;
    &:has(input:checked) {
      & label {
        border-color: var(--basic-orange);
      }
    }
    &__label {
      width: 100%;
      gap: 15px;
      border: 1px solid var(--gray-color-stroke-secondary);
      border-radius: 10px;
      padding: 12px 15px;
      transition: border-color var(--time);
      @include hover {
        border-color: var(--basic-orange-hover-opacity-80);
      }
    }
  }
}

.rating-blue {
  & .rating-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    // .rating-value__number
    &__number {
      border: 1px solid var(--basic-blue);
      border-radius: 10px;
      padding: 7px 10px;
      height: 32px;
      background-color: var(--basic-blue);
      color: var(--universal-white);
    }
    // .rating-value__result
    &__result {
      margin: 0;
    }
  }
}
