footer.footer
	.container
		.footer__body 
			.footer__info.info-footer.default-text--small
				a(href="#").footer__logo
					img(src="images/logo.svg", alt="логотип").logo-black
					img(src="images/logo-white.svg", alt="логотип").logo-white
				.info-footer__copyright ©TipTopTrip, #[span(id="year")]
				a(href="#" target="_blank").info-footer__politic.link-underline Политика конфиденциальности
				.info-footer__text.default-text--small Мы не предоставляем услуги бронирования. Всю информацию Вы можете найти на странице заинтресовавшего Вас обьекта Пишите, мы обязательно ответим
			.footer__main.main-footer
				nav.main-footer__menu.menu-footer
					.menu-footer__caption.default-text.default-text--bold Информация
					ui.menu-footer__list 
						each menuItem in footerMenu
							li.menu-footer__item 
								a(href=menuItem.link).menu-footer__link.default-text= menuItem.title
				.main-footer__actions 
					a(href="tel:+79788029014").site-phone.site-phone--size-xl +7 (978) 802 90 14
					a(href="mailto:info@tiptoptrip.ru").site-email.site-email--size-md info@tiptoptrip.ru
					+btn("Добавить проект", "btn--border btn-append")