header.header#header
	.container
		.header__body
			.header__left 
				button(type="button").header__burger
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 17H13M5 12H19M11 7H19" stroke="#08151A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				a(href="index.html").header__logo
					img(src="images/logo.svg", alt="логотип")
				.header__select
					button(type="button").btn.btn--border.header__btn-select Выберите курорт
			.header__right 
				a(href="favorites.html" class={current: isFavorites}).header__favorite
					<svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="svg-bg" fill-rule="evenodd" clip-rule="evenodd" d="M22.8994 2.60655C21.715 1.41785 20.1084 0.75 18.4331 0.75C16.7577 0.75 15.1511 1.41785 13.9667 2.60655L12.7497 3.82749L11.5326 2.60655C9.06597 0.13197 5.06669 0.131971 2.60001 2.60655C0.13333 5.08113 0.13333 9.09322 2.60001 11.5678L12.7497 21.75L22.8994 11.5678C24.0843 10.3797 24.75 8.76786 24.75 7.08718C24.75 5.4065 24.0843 3.79469 22.8994 2.60655Z" fill="#FF6933" />
						<path class="svg-border" fill-rule="evenodd" clip-rule="evenodd" d="M13.4356 2.07707C14.7604 0.747456 16.558 0 18.4331 0C20.3081 0 22.1059 0.747503 23.4307 2.0772C24.7559 3.40616 25.5 5.20841 25.5 7.08718C25.5 8.96606 24.7558 10.7684 23.4304 12.0974L13.2809 22.2795C13.1402 22.4207 12.949 22.5 12.7497 22.5C12.5504 22.5 12.3592 22.4207 12.2185 22.2795L2.06883 12.0973C-0.689611 9.33001 -0.689611 4.84435 2.06883 2.07707C4.8286 -0.691535 9.30406 -0.691536 12.0638 2.07707L12.7497 2.76513L13.4356 2.07707ZM18.4331 1.5C16.9575 1.5 15.5419 2.0882 14.498 3.13591L13.2809 4.35698C13.1402 4.49815 12.949 4.57749 12.7497 4.57749C12.5504 4.57749 12.3592 4.49815 12.2185 4.35698L11.0015 3.13603C8.82788 0.955477 5.30478 0.955477 3.13119 3.13603C0.956271 5.31792 0.956271 8.85644 3.13119 11.0383L12.7497 20.6876L22.3682 11.0383C23.4126 9.99103 24 8.56966 24 7.08718C24 5.6047 23.4128 4.18345 22.3683 3.13616C21.3244 2.08845 19.9086 1.5 18.4331 1.5Z" fill="#FF6933" />
					</svg>
				a(href="#").btn.btn--border.header__btn-auth Авторизация
				a(href="#").btn.btn--border.btn-append.header__btn-append Добавить проект 