nav.menu-category(data-da=".menu__body, 1024, 0")
    .menu-category__body 
        each item, index in menuCategory
            .menu-category__group.menu-group(data-spollers="1024,max" data-one-spoller)
                .menu-group__caption.default-text.default-text--semibold= item.groupCaption
                .menu-group__items
                    each group in item.items
                        .menu-group__item
                            .menu-group__name(data-spoller)= group.name
                            .menu-group__list-wrap
                                ul.menu-group__list
                                    each itemList in group.list
                                        li.menu-group__list-item 
                                            a(href=itemList.link).menu-group__link= itemList.title
                                            if itemList.subList.length > 0
                                                .menu-group__sub-list-inner
                                                    ul.menu-group__sub-list 
                                                        each subItem in itemList.subList
                                                            li.menu-group__sub-list-item 
                                                                a(href=subItem.link).menu-group__sub-link= subItem.title
        .menu-category__group.menu-group
            .menu-group__caption.default-text.default-text--semibold Курорт
            .menu-group__items.dynamic-items.default-text--small