.popup.popup-map(id="popup-map" data-popup)
    .popup__window 
        if isHasPopupFilter
            +btn("Фильтр", "btn--gray btn-filter")
        button(type="button" data-popup-close).popup__close
        .map#map-popup
.popup.popup-request(id="popup-request" data-popup)
    .popup__window 
        button(type="button" data-popup-close).popup__close
        form(action="#", method="post").popup-form
            .popup-form__image.image-ibg 
                img(src="images/dev/popup-img@2x.jpg", alt="Изображение")
            .popup-form__body 
                .popup-form__title.title-h3 Подать заявку на разработку сайта по готовому шаблону
                .popup-form__items 
                    +formItem("text", "request_name", "Имя")
                    +formItem("email", "request_email", "Email")
                    +formItem("tel", "request_phone", "+7-900-000-00-00")
                    .form-item
                        .form-item__caption.default-text--small-s Месяц проживания
                        +customSelect([...selects.requestType], "Выбрать тип", "request_type")
                        .form-item.form-item-textarea
                            .form-item__field
                                textarea(name="request_message" id="request_message" placeholder="Комментарий").form-input.form-textarea
                                label(for="request_message").form-label Комментарий 
                .popup-form__actions 
                    +btn("Отправить", "btn--primary", "submit")
                    .form-text.default-text--small Нажимая на кнопку “Отправить” вы автоматически соглашаетесь на обработку персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности] и принимаете условия #[a(href="#") Пользовательского соглашения]
.popup.popup-apartment(id="popup-apartment" data-popup)
    .popup__window 
        button(type="button" data-popup-close).popup__close
        .popup-apartment__body 
            .popup-apartment__slider.slider-apartment
                .slider-apartment__thumbs.swiper
                    .swiper-wrapper
                        - for (var i = 0; i < 1; i++)
                            .swiper-slide
                                .slider-apartment__image.image-ibg
                                    img(src=`images/main-card/apartment-img-${i+1}@2x.jpg`, alt="фото")
                .slider-apartment__main.swiper 
                    .swiper-wrapper 
                        - for (var i = 0; i < 1; i++)
                            .swiper-slide
                                a(href=`images/main-card/apartment-img-${i+1}@2x.jpg` data-fancybox="apartment-gallery").slider-apartment__image.image-ibg
                                    img(src=`images/main-card/apartment-img-${i+1}@2x.jpg`, alt="фото")
                    .slider-pagination.swiper-pagination
                    .slider-controls 
                        button(type="button").slider-button.slider-button-prev 
                        button(type="button").slider-button.slider-button-next 
            .popup-apartment__main-contents
                .popup-apartment__main-content 
                    .popup-apartment__main-content-caption.title-h5 Описание
                    .content
                        p Макс. 3+1 чел. ​Однокомнатный, двуспальная кровать 200х200 см + раскладная софа 70х180 см + доп. кровать 100х180 см или 2 двуспальные кровати 160х200 см + доп. кровать 100х180 см. Балкон или терраса. В номере ванна и душ.
                .popup-apartment__main-content 
                    .popup-apartment__main-content-caption.title-h5 Характеристики
                    .content
                        p Площадь: 45м²
                        p Вид из номера: на бассейн
                        p Максимальное размещение: 4
            .popup-apartment__main-content.content-bottom 
                .popup-apartment__main-content-caption.title-h5 Описание отеля
                ul.features-list
                    each feature in mainCardPage.featuresExpanded
                        li.default-text--small.features-item(class=`features-item--${feature.key}`)= feature.caption




