.profile-info-card
    .profile-info-card__image 
        img(src="images/icons/profile-icon.svg", alt="иконка")
    .profile-info-card__description 
        .profile-info-card__name.title-h3 Михаил
        +date("На сайте с 2022 года", "profile-info-card__date")
    .profile-info-card__status.default-text--small-s Аккаунт верифицирован