@use "../scss/mixins/include-media" as *;

.games-widget {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  margin: 50px 0 34px;
  @include media("<=md") {
    margin: 30px 0 20px;
  }
  // .games-widget__cards
  &__cards {
  }
}

.games-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include media("<=lg") {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include media("<=sm") {
    grid-template-columns: 100%;
  }
}
