@use "../../base/mixins" as *;

.badges {
  // .badges__list
  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }
  // .badges__item
  &__item {
  }
  // .badges__link
  &__link {
    color: var(--gray-color-gray-text);
    border: 1px solid var(--gray-color-gray-stroke);
    border-radius: 8px;
    padding: 5px 15px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
