@use "sass:math";
@use "../scss/mixins/include-media" as *;
@use "../../base/mixins" as *;

.filter {
  @include media("<=lg") {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-rgb-80);
    display: flex;
    align-items: flex-end;
    z-index: 10;
    opacity: 0;
    transition: opacity calc(var(--time) * 2);
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: all;
      & .filter__wrapper {
        transform: translateY(0);
        transition: transform calc(var(--time) * 1.5) ease-in-out 0.15s;
      }
    }
  }
  // .filter__wrapper
  &__wrapper {
    @include media("<=lg") {
      height: calc(100% - 41px);
      width: 100%;
      padding: 0px 16px 0px;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      @include no-scroll;
      background: var(--universal-white);
      transform: translateY(100%);
      transition: transform calc(var(--time)) ease-in 0s;
    }
  }

  & .form {
    @include media("<=lg") {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 30px;
    }
  }
  // .filter__header
  &__header {
    justify-content: space-between;
    gap: 20px;
    padding: 20px 18px 10px;
    position: sticky;
    top: 0;
    background-color: var(--universal-white);
    margin: 0 -18px;
    display: none;
    z-index: 2;
    &::before {
      content: "";
      display: block;
      width: calc(100% - 32px);
      border-bottom: 1px solid var(--gray-color-stroke-secondary);
      position: absolute;
      bottom: 0;
      left: 16px;
    }
    @include media("<=lg") {
      display: flex;
    }
  }
  // .filter__caption
  &__caption {
  }
  // .filter__actions
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include media("<=lg") {
      position: sticky;
      z-index: 2;
      bottom: 0;
      box-shadow: 0 -10px 10px 0 rgba(17, 29, 34, 0.05);
      background: var(--universal-white);
      padding: 15px 18px;
      margin: auto -18px 0px;
    }
  }
  //   .filter__close
  &__close {
    color: var(--gray-color-gray-text);
    display: flex;
    align-items: center;
    gap: 1px;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      @include mask-image(url("../images/icons/close.svg"), var(--gray-color-gray-text));
    }
  }
  & .custom-select {
    font-size: 14px;
    line-height: 140%;
  }
}

.form-groups {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include media("<=lg") {
    height: 100%;
  }
}

.form-group {
  padding-top: 15px;
  border-top: 1px solid var(--gray-color-gray-stroke);
  &:first-child {
    padding: 0;
    border: 0;
  }
  .extended-filter &:first-child {
    padding-top: 15px;
    border-top: 1px solid var(--gray-color-gray-stroke);
    @include media("<=lg") {
      padding: 0;
      border: 0;
    }
  }
  // .form-group__caption
  &__caption {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .form-group__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .form-group__values
  &__values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    position: relative;
    margin-bottom: 15px;
    margin: 18px 0 21px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 10px;
      background-color: var(--gray-color-stroke-secondary);
    }
  }
  // .form-group__value
  &__value {
    position: relative;
  }
  // .form-group__value-caption
  &__value-caption {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  // .form-group__value-input
  &__value-input {
    border: 1px solid var(--gray-color-stroke-secondary);
    border-radius: 5px;
    padding: 13px 15px;
    padding-left: 34px;
    width: 100%;
    height: 39px;
    transition: background-color var(--time), border-color var(--time);
    @include hover {
      background-color: var(--gray-color-gray-background);
    }
    &:focus-visible {
      border-color: var(--basic-orange);
    }
  }
}
