.date {
  color: var(--gray-color-gray-text);
}
.time {
  color: var(--gray-color-gray-text);
  padding: 4px 2px;
  display: flex;
  align-items: center;
  gap: 8px;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-image: url("../images/icons/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
