@use "../base/global" as *;

@forward "include-media/dist/include-media" with (
  $breakpoints: $breakpoints
);

// @see https://eduardoboucas.github.io/include-media/documentation/#mixin-media
$media-expressions: (
  "hover": "(hover: hover) and (pointer: fine)",
);
