@use "../../../base/mixins" as *;

.btn-show-more {
  color: var(--basic-blue);
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  transition: color var(--time);
  line-height: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    @include mask-image(url("../images/icons/arrow-right.svg"), currentColor, 8px 8px, center);
    transform: rotate(90deg);
    transition: transform var(--time);
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    border-bottom: 1px solid currentColor;
  }
  @include hover {
    color: var(--color-blue-hover);
  }
}
